div#content {
	margin: auto;
	width: 1000px;
}

h1 {
	text-align: center;
}

h1 a {
	font-size: 45px;
    text-decoration: none;
	color: #999;
}

ul.navigation {
	background-color: #CCC;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-top: 3px;
}

ul.navigation li {
	display: inline;
}

ul.navigation li a {
	text-decoration: none;
	display: inline-block;
    margin-left: 30px;
	color: black;
}

ul.navigation li a:hover {
	text-decoration: none;
	display: inline-block;
    margin-left: 30px;
	color: blue;
}

div.footer {
	text-align: center;
}

ul#faq {
	color: #666;
}

ul#faq li {
	display: block;	
}

ul#faq li h2 {
	font-size: 20px;
	
}

ul#faq li h3 {
	color: #888888;
	font-size: 15px;
}

/*Donation*/
p.donation {
	margin: auto;
   	text-align: center;
	width: 700px;
}

div.donation {
	margin:  20px auto;
    width: 100px;
}

/*CSE */
div#cse-search-form {
	padding-left: 20px;
	width: 800px;
}